
/* this is where you will define your stylesheet for non-touchscreen devices */
/* SLIDER*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 600px;
  margin-left: 1px;
}

/*container to show all reviews*/

.output_reviews {
  border: 3px outset rgb(0, 47, 255);
  background-color: rgb(255, 189, 134);   
  //display: flex;
  //justify-content: center;
  width: 550px;
  height: 500px;
}


/* output div for ratings*/
.output_ratings {
  border: 3px outset rgb(255, 135, 37);
  background-color: rgb(245, 255, 155);   
  display: flex;
  justify-content: center;
  width: 100px;
  height: 55px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 20%; /* Full-width */
  height: 12px; /* Specified height */
  background: #484bfd; /* Blue background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  text-align: center;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/*  */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 17px; /* Set a specific slider handle width */
  height: 17px; /* Slider handle height */
  background: #ffa2e0; /* Pink background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ff95e8; /* Pink background */
  cursor: pointer; /* Cursor on hover */
}

/*BUTTON*/
*{padding: 0; margin: 0; box-sizing: border-box;}
::placeholder {
  color: white;
  font-family: "Arial Black";
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}
.button {
 font-size: 1.3vw;
  border: none;
  color: white;
/*   padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #ea8c8c;
  
  
  margin-top: 6px;
  margin-bottom: 2px;
  margin-right: 600px;
  margin-left: 734px;
 
	
	padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}

.button:hover {
   font-size: 1.3vw;
/*   font-family :"Arial Black" */
/*   border: 2px solid black; */
  color: white;
/*   padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
/*   font-size: 16px; */
  margin: 4px 2px;
  cursor: pointer;
  background-color: #7bf1f7;
  
  margin-top: 6px;
  margin-bottom: 2px;
  margin-right: 600px;
  margin-left: 734px;
  
  padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
  
  
}

.formCenter{
  margin-top: 150px;
  margin-bottom: 6px;
  margin-right: 30px;
  margin-left: 30px;
}

.centre_ > a:hover{
  margin-top: 1px;
  margin-bottom: 6px;
  margin-right: 30px;
  margin-left: 750px;
}

/*this is a transparent textbox*/

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  float : center;
  margin-bottom : 100px;
}


.tbox {
/*   border:2px solid #b3b3b3; */
  background-color: transparent;
  width:200px;
  border-radius:25px;
  -moz-border-radius:25px; 
  -moz-box-shadow:    1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 2px 2px 2px #ccc;
  
  margin: 30px;
  background-color: transparent;
/*   border: 1px solid black; */
  opacity: 0.6;
  float : center;
  margin-bottom : 100px;
}

/* .transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
} */



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* .center {
   
  text-align: center;

  width: 70%;
  border: 6px solid #ADD;
  padding: 8px;
  
 t
}
 */
/* 
input + span {
  padding-right: 300px;
} */

/* input:invalid+span:after {
  position: absolute; content: '✖';
/*   padding-left: 500px; */
  margin-left: 50px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-right: 50px;
} */


select>option{
  background-color: #b4ff8e;
}
select{
  font-family: "Arial Black";
  
  /*   border:2px solid #b3b3b3; */
  width:200px;
  border-radius:25px;
  -moz-border-radius:25px; 
  -moz-box-shadow:    1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 2px 2px 2px #ccc;
  
  margin: 30px;
  background-color: transparent;
/*   border: 1px solid black; */
  opacity: 0.6;
  float : center;
  margin-bottom : 100px;
}
.reviewButton {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 600px;
  margin-left: 1px;
}

.reviewButton:hover {
  background-color: #008CBA;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 600px;
  margin-left: 1px;
}

body {
  background-color: #b3e5fc;
		font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

.bg {
  /* The image used */
  background-image: url("img_girl.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
	}

/* formats the red message boxes */
aside {
	
	//margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 60px;
  margin-left: 600px;
}
.err_msg {
	//position: fixed;
	//top: 2em;
  width: 20%;
  height: 60%;
	border: 1px solid #ff0000;
  border-width: 6px;
  border-style: outset;
	font-weight: bold; 
	background-color: black;
	color: #ffd168;
	padding: 1em;
//	margin: 2em;
}

.suc_msg {
	//position: fixed;
	//top: 2em;
  width: 20%;
  height: 60%;
	border: 1px solid #00ffdd;
  border-width: 6px;
  border-style: outset;
	font-weight: bold; 
	background-color: blue;
	color: #ffd168;
	padding: 1em;
//	margin: 2em;
}
.suc_msg:active{
  border: 1px solid #fffb00bb;
   border-width: 6px;
}

.err_msg:active{
  border: 1px solid #00ffdd;
   border-width: 6px;
}

header {
	background: url('https://media.cntraveler.com/photos/5eac691f4623d48988c21830/master/w_4200,h_2803,c_limit/Trunk-Bay-St-John-GettyImages-509468664.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}




 .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 { 
  margin: 0; 
  font-family: 'Leckerli One', cursive;
  text-shadow: 0 11px rgba(0,0,0,.5);
  font-size: 80px;
}


h2 { 
  margin: 0; 
  font-family: 'Leckerli One', cursive;
  //text-shadow: 0 11px rgba(183, 0, 255, 0.5);
  color: green;
  font-size: 20px;
}

/* h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}
 */




/* header {
	background-color: transparent;
	  font-family: cursive;

 
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate
    
    
}
 */


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9a02, 0 0 40px #ff9a02, 0 0 50px #ff9a02, 0 0 60px #ff9a02, 0 0 70px #ff9a02;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f9ea5c, 0 0 40px #f9ea5c, 0 0 50px #f9ea5c, 0 0 60px #f9ea5c, 0 0 70px #f9ea5c, 0 0 80px #f9ea5c;
  }
}
	height: 8vw;
}
/* 
h1, h2, h3 {
	margin: 0;
	padding: 0;
 
	
} */


test {
  color : #474DC7;
  margin: 10;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 2em;
   letter-spacing: -2px;
   border-bottom: 2px solid black;
   text-transform: uppercase;
 }
/* 
h1 {
	padding: 2.6vw;
	float: left;
	font-size: 3vw;
	margin-left: 26vw;
  color : white ;
} */



/* h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
  
}

h3 {
  background-color: #E4FFFE  ;
  font-size: 40px;
  float:left; 
  margin-left:600px
    
/* 	margin-top: 100px;
  margin-bottom: 120px;
  margin-right: 8px;
  margin-left: 80px; */
} */


/* header > a {
	margin-top: 3vw;
	margin-right: 2vw;
  float: right; 
	font-size: 1.3vw;
} */

/* header > img {
	width: 7vw;
	border-radius: 50%;
	position: absolute;
	left: 0.5vw;
	top: 0.5vw;
} */

p, legend {
	font-size: 1.5vw;
}
p0 {
  font-size: 2vw;
	margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 500px;
  margin-left: 500px;
}

 main {
	width: 100%;
/* 	margin-left: 3vw; */
   margin: auto;
   margin-top : 2em;
   padding: 2em;
   box-sizing:border-box
	/*background-color: pink;*/
} 

article {
	width: 50vw;
	/* background-color: grey;
	float: left; */
}

aside {
	/* background-color: yellow;
	float: right; */
	width: 50vw;
}

main a {
	color: black;
	text-decoration: underline;
}

main a:hover {
	color: red;
	text-decoration: none;
}

section {
	background-color: #DDD;
	width: 24vw;
	margin-top: 1vw;
	padding: 1vw;
	border-radius: 1vw;
}

section > p {
	margin: 0;
	padding: 0;
	margin-bottom: 0.5vw;
}

section > h3 {
	margin: 0;
	padding: 0;
	font-size: 1.8vw;
}

small {
	display: block;
	text-align: right;
}

/* ===== FORMS ===== */

fieldset {
 
  
	/*position: relative;*/
	width: 25vw;
	border: 1px solid #CCC;
	padding-top: 4vw;
  margin-bottom: 6px;
}

legend {
	/*position:absolute;*/
  top:0;
	left:0;
	width: 25.5vw;
	background-color: #ccc;
	border-bottom: 5px solid grey;
	padding: 0.6vw;
  margin-bottom: 6px;
}

input[type="file"] {
  font-family: "Arial Black";
	 background-color: transparent;
  border: 2px solid transparent;
  
  color: white;
	padding: 0.2vw 0.4vw;
  text-align: right;
  text-decoration: none;
  display: inline-block;
	font-size: 1.5vw;
  width: 26.9%;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 30px;
  margin-left: 600px;
  
}




input[type="submit"], .custom-file-upload {
  border : none
  font-size: 1.3vw;
  font-family :"Arial Black"
  color: white;
/*   padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
/*   font-size: 16px; */
  margin: 4px 2px;
  cursor: pointer;
  background-color: #72e5a6;
  
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 30px;
  margin-left: 780px;
  
   padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
  
  
  
   
	/* border-radius: 0.6vw; */
}

a, .custom-file-upload {
  border : none
  font-size: 1.3vw;
  font-family :"Arial Black"
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  cursor: pointer;
  background-color: #72e5a6;
  
 
  
   padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
  
  
  
   
	/* border-radius: 0.6vw; */
}




a:hover, .custom-file-upload:hover {
  
  font-size: 1.3vw;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #7bf1f7;
   padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
  
}





input[type="submit"]:hover, .custom-file-upload:hover {
  
  font-size: 1.3vw;
/*   font-family :"Arial Black" */
/*   border: 2px solid black; */
  color: white;
/*   padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
/*   font-size: 16px; */
  margin: 4px 2px;
  cursor: pointer;
  background-color: #7bf1f7;
 
  
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 30px;
  margin-left: 780px;
  
   padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
  
}



input[type="text"], input[type="email"], input[type="password"],input[type = "number"],input[type = "date"], textarea, select {
  
	font-size: 1.5vw;
	width: 26vw;
	border: 5px solid rgb(0, 217, 255);
	padding: 0.5vw;
  
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 600px;
  margin-left: 1px;
  height: 170px;

	/* margin-bottom: 1vw; */
	/* border-radius: 0.6vw; */
  
  

}
textarea {
  background-color : #AEF
	height: 10vw;
	resize: none;
}

input:required,textarea: required{
  border-width: 2px;
}

input:invalid,textarea: invalid{
  border-color: red;
}

input:valid,textarea: valid{
  border-color: darkgreen;
}




select {
	width: 26.2vw;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

form > br {
	line-height: 3vw;
 
}

dl {
  width: 35vw;
  overflow: hidden;
  /* background: #ff0; */
  padding: 0;
	margin: 0;
	font-size: 1.5vw;
}
dt {
  float: left;
  width: 10.5vw;
  /* adjust the width; make sure the total of both is 100% */
  /* background: #cc0; */
  padding: 0.5vw;
  margin: 0
}
dd {
  float: left;
  width: 21vw;
  /* adjust the width; make sure the total of both is 100% */
	/* background: #dd0; */
	padding: 0.5vw;
  margin: 0
}

/* ===== TABLES ===== */

#main {
	width: 780px;
	padding: 20px;
	margin: auto;
  white-space:pre;
}

table.timecard {
	margin-left:auto; 
  margin-right:auto;
	width: 600px;
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
  white-space:pre;
  alig
  
}

table.timecard caption {
	background-color: #2828C8;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}

/* table.timecard {
  background-color: #c62727;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}
 */

table.timecard thead th {
	padding: 8px;
	background-color: #ABE4FF;
	font-size: 20px;
  
}

table.timecard thead th#thDay {
	width: 40%;	
}

table.timecard thead th#thRegular, table.timecard thead th#thOvertime, table.timecard thead th#thTotal {
	width: 20%;
}

table.timecard th, table.timecard td {
  font-size: 20px;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #2828C8 #ccc;
}
 
/*   overflow:hidden; */
/*   text-overflow:ellipsis; */

table.timecard td {
  
	text-align: right;
}


table.timecard td:hover{
  background-color : #ffaaf2;
  
}

table.timecard tbody th {
	text-align: left;
	font-weight: normal;
}

table.timecard tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #fff;
}

table.timecard tr.even {
	background-color: #ffddaa;
}


/**********************************************************************/

